services:
  cryptopro:
    build: .
    container_name: onessa
    env_file: [.env]
    volumes:
      - ./data:/data
    ports:
      - "8080:8080"
    restart: unless-stopped

    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://127.0.0.1:8080/healthz"]
      interval: 10s
      timeout: 2s
      retries: 5

    read_only: true
    tmpfs:
      - /tmp
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL